<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending Startups in Nigeria</title>
</head>
<body>
    <div>
        <img src="{%LOGO%}" alt="logo">
        <h4>Name: {%ORGANIZATION%}</h4>
        <h4>Industry: {%INDUSTRY%}</h4>
        <h4>Date Founded: {%CREATED_AT%}</h4>
        <h4>Products: {%PRODUCTS%}</h4>
        <h4>Address: {%ADDRESS%}</h4>
        <h4>CEO: {%CEO%}</h4>
        <h4>Countries currently operating: {%COUNTRIES_OPERATING%}</h4>
        <h4>Size if work force: {%NO_OF_EMPLOYEES%}</h4>
        <h4>Description: {%DESCRIPTION%}</h4>
    </div>
    <script src="/index.js"></script>
</body>
</html>